{% extends "header.html" %}

{% block content%}

<body>
	<div class="titol">
		<div class="container-fluid">
			<div class="col-md-12">
				<h1>BATXILLERAT</h1>

				<section id="cos">
					<ul>
						<a type="button" href=""> </a>
					</ul>
					<a type="button" href=""> </a>
				</section>
				<section class="col-md-2">
					<div class="list-group">

						<a class="list-group-item list-group-item-action active"><h5>1r batxillerat</h5></a>
						<a href="#" class="list-group-item list-group-item-action"><h6>· 1r A</h6></a>
						<a href="#" class="list-group-item list-group-item-action"><h6>· 1r B</h6></a>
						<a href="#" class="list-group-item list-group-item-action"><h6>· 1r C</h6></a>
						<a href="#" class="list-group-item list-group-item-action"><h6>· 1r D</h6></a>

						<a class="list-group-item list-group-item-action active"><h5>2n batxillerat</h5></a>
						<a href="#" class="list-group-item list-group-item-action"><h6>· 2n A</h6></a>
						<a href="#" class="list-group-item list-group-item-action"><h6>· 2n B</h6></a>
						<a href="#" class="list-group-item list-group-item-action"><h6>· 2n C</h6></a>
						<a href="#" class="list-group-item list-group-item-action"><h6>· 2n D</h6></a>
					</div>
					<br>
				</section>
				<h1 id="afegitguay">Llista d'alumnes creada correctament!</h1>
				<a href="/batx" class="btn btn-1">Fet!</a>
			</div>
		</div>
	</div>
</body>

</html>
{% endblock %}