{% extends "header.html" %}

{% block content%}
<html lang="es" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>

	<link href="static/css/batx.css" rel="stylesheet" type="text/css">


    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TDR Web</title>
    <!-- BOOTSTRAP -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/bootstrap.css">
	<link rel="stylesheet" href="static/css/bootstrap-theme.css">


</head>
<body>
	<div class="titol">
		<div class="container-fluid">
			<div class="col-md-12">
				<h1>BATXILLERAT</h1>

				<section id="cos">
					<ul>
						<a type="button" href=""> </a>
					</ul>
					<a type="button" href=""> </a>
				</section>
				<section class="col-md-2">
					<div class="list-group">

						<a class="list-group-item list-group-item-action active"><h5>1r batxillerat</h5></a>
						<a href="#" class="list-group-item list-group-item-action"><h6>· 1r A</h6></a>
						<a href="#" class="list-group-item list-group-item-action"><h6>· 1r B</h6></a>
						<a href="#" class="list-group-item list-group-item-action"><h6>· 1r C</h6></a>
						<a href="#" class="list-group-item list-group-item-action"><h6>· 1r D</h6></a>

						<a class="list-group-item list-group-item-action active"><h5>2n batxillerat</h5></a>
						<a href="#" class="list-group-item list-group-item-action"><h6>· 2n A</h6></a>
						<a href="#" class="list-group-item list-group-item-action"><h6>· 2n B</h6></a>
						<a href="#" class="list-group-item list-group-item-action"><h6>· 2n C</h6></a>
						<a href="#" class="list-group-item list-group-item-action"><h6>· 2n D</h6></a>
					</div>
					<br>
				</section>
				<h1 id="afegitguay">Llista d'alumnes creada correctament!</h1>
				<a href="/batx" class="btn btn-1">Fet!</a>
			</div>
		</div>
	</div>
</body>


<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="static/js/bootstrap.js"></script>

</html>
{% endblock %}