{% extends "header.html" %}

{% block content%}
<html lang="es">

<head>

    <meta name="viewport" content="width=device-width, initial-sclae-1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TDR Web</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
    <script src="js/bootstrap.js"></script>


</head>
<body>
	<div class="container-fluid">
		<div class="col-md-12">
			<h1>ESO</h1>
			<div class="col-md-2">
				<div class="list-group">

		  			<a class="list-group-item list-group-item-action active"><h5>1r ESO</h5></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6>· 1r A</h6></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6>· 1r B</h6></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6>· 1r C</h6></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6>· 1r D</h6></a>

		  			<a class="list-group-item list-group-item-action active"><h5>2n ESO</h5></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6>· 2n A</h6></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6>· 2n B</h6></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6>· 2n C</h6></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6>· 2n D</h6></a>

		  			<a class="list-group-item list-group-item-action active"><h5>3r ESO</h5></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6>· 3r A</h6></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6>· 3r B</h6></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6>· 3r C</h6></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6>· 3r D</h6></a>

		  			<a class="list-group-item list-group-item-action active"><h5>4t ESO</h5></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6>· 4t A</h6></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6>· 4t B</h6></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6>· 4t C</h6></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6>· 4t D</h6></a>
		  		</div>
			</div>

			<div class="col-md-2">
				<div class="card" style="width: 18rem;">
  				<img src="..." class="card-img-top">
  					<div class="card-body">
   					<p class="card-text">Alumne 1</p>
  					</div>
				</div>
			</div>


			<div class="col-md-2">
				<div class="card" style="width: 18rem;">
  				<img src="..." class="card-img-top">
  					<div class="card-body">
   					<p class="card-text">Alumne 2</p>
  					</div>
				</div>
			</div>


			<div class="col-md-2">
				<div class="card" style="width: 18rem;">
  				<img src="..." class="card-img-top">
  					<div class="card-body">
   					<p class="card-text">Alumne 3</p>
  					</div>
				</div>
			</div>


			<div class="col-md-2">
				<div class="card" style="width: 18rem;">
  				<img src="..." class="card-img-top">
  					<div class="card-body">
   					<p class="card-text">Alumne 4</p>
  					</div>
				</div>
			</div>

			<div class="col-md-2">
				<div class="card" style="width: 18rem;">
  				<img src="..." class="card-img-top">
  					<div class="card-body">
   					<p class="card-text">Alumne 5</p>
  					</div>
				</div>
			</div>


		</div>
	</div>
</body>
</html>
{% endblock %}
