{% extends "header.html" %}

{% block content%}

<body>
<div class="titol">
	<div class="container-fluid">
		<div class="col-md-12">
			<h1>ESO</h1>

			<section class="col-md-2">
				<div class="list-group">

		  			<a class="list-group-item list-group-item-action active"><h5> </h5></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6> </h6></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6> </h6></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6> </h6></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6> </h6></a>

		  			<a class="list-group-item list-group-item-action active"><h5> </h5></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6> </h6></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6> </h6></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6> </h6></a>
		  			<a href="#" class="list-group-item list-group-item-action"><h6> </h6></a>
				</div>
				<br>
			</section>
            <h1 id="afegitguay">EN MANTENIMENT</h1><br>
            <div class="spinner-container">
	            <div class="spinner"></div>
	            <div class="spinner2"></div>
			</div>

		</div>
	</div>
</div>
</body>

</html>

{% endblock %}